body {
    font-family: "Montserrat";
    text-align: center;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    margin: 15px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.nav-link:hover {
    text-decoration: underline;
}

a {
    color: black;
}

.title {
    margin-top: 120px;
    letter-spacing: 3px;
    font-family: 'Homemade Apple', cursive;
}

.pro {
    text-decoration: underline;
}

.custom-margin {
    margin: auto;
    padding: 3% 15% 20%;
}

.project-area {
    padding: 3% 2%;
}

.project-column {
    padding: 3% 2%;
    margin: 3% 4%;
}

.profile-img {
    border-radius: 50%;
    margin: 100px auto auto;
}

.contact-me-column {
    border-radius: 50%;
    margin: 100px auto auto;
}

.hi {
    margin: 20px auto 0;
}

.img-thumbnail {
    border: none;
}

#intro {
    width: 70%;
    margin: 0 auto;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.mx-auto {
    width: 50%;
}


.icons {
    top: 60%;
    transform: translateY(-5%);
    position: fixed;
    z-index: 100;
}

.icons ul {
    padding: initial;
}

.icons ul li {
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 3px;
    margin-top: 1px;
}

.icons ul li:hover {
    padding-right: 30px;
    width: 80px;
    transform: scale(1.5);
}

.social-link:hover {
    color: black;
}

.btn {
    margin-top: 50px;
}

::-webkit-scrollbar {
    display: none;
}

.footer {
    margin: 100px auto 10px;
}

@media (max-width: 1028px) {
    .project-column {
        padding: 5% 8%;
    }

    .footer {
        margin: 100px auto 10px;
    }

    #intro {
        width: 100%;
    }
}